<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery
    /jquery-3.6.0.min.js"></script>
    <style>
        html {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        button {
            font-size: 14px;
        }

        table {
            border: 1px solid #333;
            border-collapse: collapse;
            padding: 5px;
        }

        tbody tr:nth-child(odd) {
            color: brown;
        }
    </style>
    <script>
        $(function () {
            console.log("ready!");
        });
    </script>
</head>

<body>
    <div id="app">
        <span v-bind:title="message">wait</span>
    </div>

    <div id="app2">
        <p v-if='seen'>now you see me</p>
    </div>
    <div id="app3">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}} {{todo.name}}
            </li>
        </ol>
    </div>
    <div id="app4">
        <p>{{message}}</p>
        <button @click="reverseMessage">Reverse</button>
    </div>
    <div id="app5">
        <p>{{text}}</p>
        <input v-model="text">
        <input :type="text"></input>
        <h1 v-show="ok">Hello!</h1>
    </div>
    <div id="app6">
        <ol>
            <todo-item v-for="item in groceryList" :todo="item" :key="item.id"></todo-item>
        </ol>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>item</th>
                    <th>ID</th>
                    <th>GLID</th>
                    <th>test</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ABC</td>
                    <td>123</td>
                    <td>123-456</td>
                    <td>KKBAD</td>
                </tr>
                <tr>
                    <td>XYZ</td>
                    <td>456</td>
                    <td>000-909</td>
                    <td>QQERT</td>
                </tr>
                <tr>
                    <td>MNO</td>
                    <td>789</td>
                    <td>577-241</td>
                    <td>KKBNS</td>
                </tr>
                <tr>
                    <td>MNO</td>
                    <td>789</td>
                    <td>577-241</td>
                    <td>KKBNS</td>
                </tr>
                <tr>
                    <td>MNO</td>
                    <td>789</td>
                    <td>577-241</td>
                    <td>KKBNS</td>
                </tr>
                <tr>
                    <td>MNO</td>
                    <td>789</td>
                    <td>577-241</td>
                    <td>KKBNS</td>
                </tr>
                <tr>
                    <td>MNO</td>
                    <td>789</td>
                    <td>577-241</td>
                    <td>KKBNS</td>
                </tr>
                <tr>
                    <td>MNO</td>
                    <td>789</td>
                    <td>577-241</td>
                    <td>KKBNS</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'page load in ' + new Date().toLocaleString(),
            },
        });
        var app2 = new Vue({
            el: '#app2',
            data: {
                seen: true,
            },
        });
        var app3 = new Vue({
            el: '#app3',
            data: {
                todos: [{
                        text: 'JavaScript',
                        name: 1
                    },
                    {
                        text: 'Vue',
                        name: 2
                    },
                    {
                        text: 'HTML',
                        name: 3
                    }
                ]
            }
        })
        var app4 = new Vue({
            el: '#app4',
            data: {
                message: "Hello Vue.js"
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })
        var app5 = new Vue({
            el: '#app5',
            data: {
                text: 'password',
                ok: true
            }
        })

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
        })

        var app6 = new Vue({
            el: '#app6',
            data: {
                groceryList: [{
                        id: 0,
                        text: 'vagetable'
                    },
                    {
                        id: 1,
                        text: 'cheesead'
                    },
                    {
                        id: 2,
                        text: "anything else"
                    }
                ]
            }
        })
    </script>
</body>

</html>