<!DOCTYPE html>
<html>

<head>
    <base target="_top">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style>
        body {
            font-family: Verdana, sans-serif;
        }

        #input,
        button {
            height: 30px;
            font-size: 12pt;
        }

        .trSelected {
            background-color: #ADD8E6 !important;
        }

        .pageBtn {
            text-decoration: underline;
            cursor: pointer;
            color: #0000ff !important;
        }

        table {
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            font-size: 12pt;
            border-spacing: 0;
            border: 1px solid #ddd;
        }

        th {
            background-color: #e31b23;
            color: white;
        }

        th,
        td {
            border-collapse: collapse;
            padding: 16px;
            text-align: left;
        }

        th:not(:first-child) {
            cursor: pointer;
        }

        /* tbody>tr:hover td {
            background-color: #ddd;
        } */

        tbody>tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tfoot>tr>td {
            text-align: center;
        }

        #caption {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .linkBtn {
            background: none !important;
            border: none;
            padding: 0 !important;
            color: #000000;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 14pt;
        }
    </style>
</head>

<body>
    <div id="container">
        <div>
            <p>Item List : {{checkAll}}</p>
        </div>
        <div id="content">
            <div id="detailpanel" style="display: none;">
                <table>
                    <tr>
                        <td><label for="requestId">Request ID</label></td>
                        <td><input type="text" id="requestId"></td>
                        <td><label for="rbo">RBO</label></td>
                        <td><input type="text" id="rbo"></td>
                        <td><label for="itemcode">Item Code</label></td>
                        <td><input type="text" id="itemCode"></td>
                    </tr>
                    <tr>
                        <td><label for="glid">GLID</label></td>
                        <td><input type="text" id="glid"></td>
                        <td><label for="requestType">Request Type</label></td>
                        <td><input type="text" id="requestType"></td>
                        <td><label for="dataset">Dataset</label></td>
                        <td><input type="text" id="dataset"></td>
                    </tr>
                    <tr>
                        <td><label for="testOrder">Test Order</label></td>
                        <td><input type="text" id="testOrder"></td>
                        <td><button type="submit" id="submit">Submit</button></td>
                        <td><button type="reset" id="reset">Reset</button></td>
                    </tr>
                </table>
            </div>
            <table id="table">
                <caption>
                    <div id="caption">
                        <input type="search" id="input" placeholder="Request ID" v-model="search" @input="setPage()">
                        <button type="submit" id="button" @click="findRecord()">Search</button>
                        <button id="add"><i class="fas fa-plus"></i></button>
                        <button id="update"><i class="fas fa-pen"></i></button>
                        <button id="delete"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </caption>
                <thead>
                    <tr>
                        <th><input type="checkbox" id="checkAll" v-model="checked"></th>
                        <th>Request ID</th>
                        <th>RBO</th>
                        <th>Item Code</th>
                        <th>GLID</th>
                        <th>Request Type</th>
                        <th>Dataset</th>
                        <th>Test Order</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr v-for="(array,index) in displayByPage" :class="{trSelected:obj[getIndex(index)].isChecked}"
                        :key="array.id">
                        <td><input type="checkbox" class="checkbox" v-model="obj[getIndex(index)].isChecked"></td>
                        <td v-for="ele in array.stuff">{{ele}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr v-if="!record">
                        <td colspan="8">
                            <i class="fas fa-spinner fa-pulse"></i> Loading...
                        </td>
                    </tr>
                    <tr v-else-if="!result.length">
                        <td colspan="8">
                            <p>No records match your search criteria</p>
                        </td>
                    </tr>
                    <tr v-else>
                        <td colspan="8">
                            <button class="linkBtn" :class="btnStyle[index]" v-for="(page, index) in pageArray"
                                @click="goPage(page)">{{page}}</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <script>
        var tbody;
        $(function () {
            tbody = new Vue({
                el: '#container',
                data: {
                    search: '',
                    pageNow: 1,
                    pageSize: 10,
                    record: [
                        ['AR12345', 'TEST1', 'GAP', '1-234566-001-0', 'New Item', 'DW00538',
                            'KKMHJ5'
                        ],
                        ['AR12345', 'TEST2', 'GAP', '1-234566-001-0', 'New Item', 'DW00538',
                            'KKMHJ5'
                        ],
                        ['AR12345', 'TEST3', 'GAP', '1-234566-001-0', 'New Item', 'DW00538',
                            'KKMHJ5'
                        ],
                        ['AR12345', 'TEST4', 'GAP', '1-234566-001-0', 'New Item', 'DW00538',
                            'KKMHJ5'
                        ],
                        ['AR12345', 'TEST5', 'GAP', '1-234566-001-0', 'New Item', 'DW00538',
                            'KKMHJ5'
                        ],
                        ['AR12345', 'TEST6', 'GAP', '1-234566-001-0', 'New Item', 'DW00538',
                            'KKMHJ5'
                        ],
                        ['AR12345', 'TEST7', 'GAP', '1-234566-001-0', 'New Item', 'DW00538',
                            'KKMHJ5'
                        ],
                        ['AR12345', 'TEST8', 'GAP', '1-234566-001-0', 'New Item', 'DW00538',
                            'KKMHJ5'
                        ],
                        ['AR12345', 'TEST9', 'GAP', '1-234566-001-0', 'New Item', 'DW00538',
                            'KKMHJ5'
                        ],
                        ['AR12345', 'TEST10', 'GAP', '1-234566-001-0', 'New Item', 'DW00538',
                            'KKMHJ5'
                        ],
                        ['AR12345', 'TEST11', 'GAP', '1-234566-001-0', 'New Item', 'DW00538',
                            'KKMHJ5'
                        ],
                        ['AR12345', 'TEST12', 'GAP', '1-234566-001-0', 'New Item', 'DW00538',
                            'KKMHJ5'
                        ],
                        ['AR12345', 'TEST13', 'GAP', '1-234566-001-0', 'New Item', 'DW00538',
                            'KKMHJ5'
                        ],
                    ],
                    obj: [],
                    checkAll: false,
                },
                computed: {
                    requests: function () {
                        return this.obj = this.record.map(function (request, index) {
                            return {
                                id: index,
                                stuff: request,
                                isChecked: false,
                            }
                        })
                    },
                    result: function () {
                        var _this = this;
                        if (this.search.length === 0) {
                            return this.requests;
                        } else {
                            return this.requests.map(arr => arr.stuff.filter(item => item.includes(
                                _this
                                .search)).length ? arr : null).filter(foo => foo != null);
                        }
                    },
                    btnStyle: function () {
                        var styleList = [];
                        var styleProp = {};
                        for (var i = 1; i <= this.pageCount; i++) {
                            if (i == this.pageNow) {
                                styleProp = {
                                    pageBtn: false
                                }
                                styleList.push(styleProp)
                            } else {
                                styleProp = {
                                    pageBtn: true
                                }
                                styleList.push(styleProp)
                            }
                        }
                        return styleList;
                    },
                    resultCount: function () {
                        return this.result != null ? this.result.length : '';
                    },
                    displayByPage: function () {
                        var size = this.pageSize;
                        var count = this.resultCount;
                        var result = this.result;
                        var now = this.pageNow;
                        if (result != null) {
                            var start = (now - 1) * size;
                            var end = now * size > count ? count : now * size;
                            return result.slice(start, end);
                        }
                    },
                    pageCount: function () {
                        if (this.resultCount) {
                            var resultCount = this.resultCount;
                            var pageSize = this.pageSize;
                            return Math.floor(resultCount / pageSize) + (resultCount % pageSize ?
                                1 : 0);
                        }
                    },
                    pageArray: function () {
                        var pageCount = this.pageCount;
                        var pageArray = [];
                        for (i = 1; i <= pageCount; i++) {
                            pageArray.push(i);
                        }
                        return pageArray;
                    },
                    checked: function () {
                        var page = this.pageNow;
                        var size = this.pageSize;
                        var total = this.resultCount;
                        var indexStart = (page - 1) * size;
                        var indexEnd = page * size > total ? total - 1 : page * size - 1;
                        var check = true;
                        for (i = indexStart; i <= indexEnd; i++) {
                            check = this.obj[i].isChecked && check;
                        }
                        return this.checkAll = check;
                    }
                },
                methods: {
                    findRecord: function (requestId) {
                        google.script.run.withSuccessHandler(displayResult).getDataById(this
                            .search);
                    },
                    getIndex: function (index) {
                        return (this.pageNow - 1) * this.pageSize + index;
                    },
                    goPage: function (page) {
                        this.pageNow = page;
                        return this.checkAll = this.checked;
                    },
                    setPage: function () {
                        return this.pageNow = 1;
                    },
                    // checkbox: function (index) {
                    //     var cbx = document.getElementsByClassName("checkbox")[index];
                    //     var row = cbx.closest("tr");
                    //     if (cbx.checked) {
                    //         row.style.backgroundColor = "#ADD8E6";
                    //     } else {
                    //         if (index % 2) {
                    //             row.style.backgroundColor = "#f2f2f2";
                    //         } else {
                    //             row.style.backgroundColor = "#ffffff";
                    //         }
                    //     }
                    // }
                }
            });

            $("#delete").click(function () {
                var obj = tbody.obj;
                obj.forEach(function (ele, index) {
                    if (ele.isChecked) {
                        tbody.record.splice(index,1);
                    }
                })

            });

            $("#checkAll").click(function () {
                // $('input:checkbox').not(this).prop('checked', this.checked);
                var foo = $(this).prop('checked');
                var page = tbody.pageNow;
                var size = tbody.pageSize;
                var total = tbody.resultCount;
                var indexStart = (page - 1) * size;
                var indexEnd = page * size > total ? total - 1 : page * size - 1;
                for (i = indexStart; i <= indexEnd; i++) {
                    tbody.obj[i].isChecked = foo;
                }

            });

            $('th:not(:first)').click(function () {
                var colIndex = $('th:not(:first)').index(this);
                sortTable(colIndex + 1);
            });

            $("#add").click(function () {
                $("#detailpanel").toggle();
            });

            $("#reset").click(function () {
                $("input").not("#input").val('');
            });

            $("#submit").click(function () {
                $(this).attr("disabled", true);
                var requestId = $("#requestId").val();
                var rbo = $("#rbo").val();
                var itemCode = $("#itemCode").val();
                var glid = $("#glid").val();
                var requestType = $("#requestType").val();
                var dataset = $("#dataset").val();
                var testOrder = $("#testOrder").val();
                var newRecord = [requestId, rbo.itemCode, glid, requestType, dataset, testOrder];
                tbody.record.push(newRecord);
                $("input").not("#input").val('');
                alert("Saved Successfully!");
                $(this).attr("disabled", false);
            });

        });

        function displayResult(serverResponce) {
            try {
                tbody.record = serverResponce;
                tbody.pageNow = 1;
            } catch (e) {
                console.log(e);
            }
        }

        function getDataByPage(pageNow) {
            let pageSize = 10;
            let startCol = 1
            let startRow = (pageNow - 1) * pageSize + 2;
            let lastCol = ws.getLastColumn();
            let lastRow = ws.getLastRow() - 1;
            let record = pageNow * pageSize > lastRow ? lastRow % pageSize : pageSize;
            let data = ws.getRange(startRow, startCol, record, lastCol).getValues();
            let dataArray = [data, pageNow];
            return dataArray;
        }

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("table");
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 2); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i +
                        1].getElementsByTagName("TD")[n];
                    if (dir == "asc") {
                        if (n == 0) {
                            if (Number(x.innerText) > Number(y.innerText)) {
                                shouldSwitch = true;
                                break;
                            }
                        } else if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (n == 0) {
                            if (Number(x.innerText) < Number(y.innerText)) {
                                shouldSwitch = true;
                                break;
                            }
                        } else if (x.innerHTML.toLowerCase() <
                            y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

        function filterTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("input");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>

</html>